@import "../saas-config/color.scss";
@import "../saas-config/font.scss";
@import "../saas-config/mixing.scss";


footer{
    text-align: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: #eee;
    overflow: visible;
    margin-top: 1rem;

}