@import ".././saas-config/color.scss";
@import ".././saas-config/font.scss";
@import ".././saas-config/mixing.scss";

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

img{
    max-width:100%;
}

.auth-container{
    background-color: $primary;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    @include flex;
    // overflow-x: hidden;
    max-width: 100%;

    > div{
        width: 50%;
        background-color: $light;
        height: 100%;

        

       

    }
        .left_container{
            position: relative;
            background-color: $primary_light !important;
            background-image: url("https://images.unsplash.com/photo-1548142640-24bfcab81136?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHNob3BwaW5nJTIwY3VzdG9tZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
            background-repeat: no-repeat;
            background-size: cover;
            background-position:  bottom center;
            object-fit: cover;
            // @include flex;
            // align-items: flex-end;
            
            &::after{
                @include after($primary);
                
            }
            
            .notMember{
                position: absolute;
               bottom: 4rem;
                display: inline-block;
              
                padding: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 9;
                a{
                    color: #fff;
                    margin-left: 2rem;
                    text-decoration: none;
                    background-color: darken($secondary, 10%);
                    padding: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                }
                span{
                    color: #eee;
                    opacity: .6;
                }
            }

            
            @include breakpoints(mobile){
                display: none;
            }
            @include breakpoints(laptop){
                display: flex;
                width: 50% !important;

            }
            
        }

        .right_container{
            position: relative;
            form{
                width: 100% !important;
               position: absolute;
                @include responsive;
                @include flex;
                justify-content: center;
                height: 100%;
                flex-direction: column;


                @include breakpoints(mobile){
                    width: 100%;
                    // border: 2px solid red;
                    
                }
                @include breakpoints(tablet){
                    width: 100%;
                    // border: 2px solid blue;
                    
                }
                // @include breakpoints(laptop){
                //        width: 50% !important;
                //        border: 2px solid red;
        
                //     }

            }
                .header-title{
                    width: 100% !important;
                    text-align: center;
                    font-weight: 500;
                    padding: 10px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 30px;
                    padding: 20px;
                }

                .loginAuternative{
                    width: 200px;
                    padding: 10px;
                    @include flex;

                    button{
                        border: none;
                    @include flex;

                        padding: 5px 20px;
                        margin: 10px;
                        font-size: 20px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:nth-child(2){
                            color: $primary_light;
                        }

                    }

                }
                .message_header{
                    position: relative;
                    text-align: center;
                    padding: 10px;
                    margin: 2rem;
                    width: 400px;
                    
                    span{
                        background-color: $light;
                        padding: 10px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        margin-top: -20px;
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;

                        @include breakpoints(mobile){
                            width: 55%;
                        }
                    }
                    .divider{
                        border: 1px solid $secondary;

                        

                    }
                    @include breakpoints(mobile){
                        width: 95%;
                        margin: 20px 0;
                    }
                    @include breakpoints(tablet){
                        width: 90%;
                        margin-top: 2em;
                     
                 }
                    @include breakpoints(laptop){
                        width: 65%;
                        margin-top: 2em;
                     
                 }

                }

                .form-input{
                    
                        width: 100%;
                        // @include breakpoints(laptop){
                       
                        // }
                        > div{
                            // width: 100%;
                            // padding: 10px;
                            // border: 2px solid red;
                            
                            
                            @include breakpoints(mobile){
                                width: 90%;
                                margin: 0px auto;

                            }
                            @include breakpoints(tablet){
                                width: 90% !important;
                                padding: 10px;
                                margin: 0px auto;
                            
                        }
                        @include breakpoints(laptop){
                            width: 450px !important;
                        }

                        label{
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            font-size: 16px;
                        }
                        input{
                            width: 100%;
                            padding: 10px;
                            margin-top: 10px;
                            background-color: #EFEFEF;
                            border: none;
                            outline: none;
                            height: 50px;
                            font-family: 'Montserrat', sans-serif;


                            @include breakpoints(tablet){
                               height: 60px;
                            
                        }
                            @include breakpoints(laptop){
                               height: 50px;
                            
                        }

                        }

                        input[type="submit"]{
                            background-color: $primary_light;
                            color: $light;
                            font-family: 'Roboto', sans-serif;
                            font-size: 18px;
                            cursor: pointer;
                        }
                        
                    }
                    .moreInfo{
                        @include flex;
                        justify-content: space-between;
                        
                        .checked{
                        @include flex;
                        width: 150px;
                        justify-content: space-between;

                            input[type="checkbox"]{
                                font-size: 10px;
                                width: 20px;
                                height: 20px;
                                cursor: pointer;

                            }
                            span{
                                font-size: 14px;
                                padding: 10px;
                                margin-top: 10px;
                                font-weight: 500;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                        .forgetPassword{
                            // border: 2px solid red;
                            padding: 12px 0 0 12px;
                            // padding-bottom: 0;
                      

                                a{  
                                    font-size: 14px;
                                    
                                    font-weight: 500;
                                    text-decoration: none;
                                    color: inherit;
                                    display: block;
                                    text-transform: capitalize;
                                    font-family: 'Montserrat', sans-serif;
                                   
                                }
                            }
                    }

                }

            @include breakpoints(mobile){
                width: 100%;
            }
            @include breakpoints(laptop){
                width: 50%;
              
            }
        }

        @include breakpoints(mobile){
            width: 100%;
            // display: block;
        }
       
}


#myInput{
    margin-top: -7rem;
    input{
        margin-top: -1px !important;
        margin-bottom: -2px !important;
    }
    input[type="file"]{
        display: none;

        
    }
    
    .UserImg{
        @include flex;
        width: 120px !important;
        height: 120px;
        cursor: pointer;
        border-radius: 100%;
        background-color: $primary_light;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
   
        @media screen and (max-width:768px)  {
            width: 100px;
            height: 100px;
        }

        #camera{
            position: absolute;
            font-size: 30px;
            // transform: scale(0);
            opacity: .4;
            transition: opacity .5s ease;

            
        }

        &:hover #camera{
            opacity:1;
        }
    }
    .imgPreview{
        width: 110px !important;
        height: 110px;
        border-radius: 100%;
        display: block;
        background-color: $primary_light;



        img{
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width:768px)  {
            width:90px;
            height: 90px;
            // display: none;
        }

    }
}
